<tr class="hover:bg-gray-50 cursor-pointer" (click)="onUserClick(user.id)">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="h-10 w-10 flex-shrink-0">
        <div class="h-10 w-10 rounded-full bg-gray-200 flex items-center justify-center">
          <span class="text-xl font-medium text-gray-600">{{ user.name.charAt(0) }}</span>
        </div>
      </div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900">{{ user.name }}</div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900">{{ user.email }}</div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900">{{ user.role }}</div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
      <span
        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
        [ngClass]="{
          'bg-green-100 text-green-800': user.status === 'Active',
          'bg-red-100 text-red-800': user.status === 'Inactive'
        }"
      >
        {{ user.status }}
      </span>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <button
      mat-flat-button
      #editButton
      color="primary"
      (click)="onEditUserClick()"
      class="!px-3 !py-1.5">
      <i class="fa-solid fa-pen-to-square text-xs"></i>
      <span class="ml-2">Edit</span>
    </button>
  </td>
</tr>
